@font-face {
    font-family: 'franklin';
    src: url('fonts/franklin-normal-600.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    color: #fff;
    background-color: #09c909;
    border: none;
    padding: .75rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    position: absolute;
}

.btn:active {
    background-color: #089808;
}

.circle {
    padding: 2rem;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.background {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0000001f;
}

.content-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 3rem 2rem;
    z-index: 1;
    width: 90%;
    max-width: 30rem;
    border-radius: 1rem;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.time-display {
    font-size: 1.75rem;
}

.reload {
    color: #fff;
    background-color: #06d106;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1.25rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.reload:active {
    background-color: #049d04;
}

@media (min-width: 1440px) {
    .btn {
        padding: 1rem 1.25rem;
        font-size: 2rem;
    }
}